<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.trax"
          android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="21"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".Trax">
        <receiver android:name=".networking.BeaconReceiver" android:label="BeaconReceiver" android:exported="true">
            <intent-filter android:priority="10000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA2XHLSi03q1fFiBRoVNyWW5jyTkJa00tg"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name=".activities.MainMenu"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="@string/app_name"
                  android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MapActivity"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:launchMode="singleTask">

                <meta-data android:name="android.support.UI_OPTIONS"
                           android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity android:name=".activities.SelectionItineraire"
                  android:label="selectionItineraire"/>

        <activity android:name=".activities.SelectionContacts"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="selectionContacts"
                  android:parentActivityName=".activities.MapActivity">
                    <!-- Parent activity meta-data to support API level 7+ -->
                    <meta-data
                        android:name="android.support.PARENT_ACTIVITY"
                        android:value=".activities.MapActivity" />
        </activity>

        <service android:name=".networking.BeaconTransmitter"/>
    </application>
</manifest>
